@use "../abstracts" as *;

.button {
	display: inline-block;
	padding: 16px 48px;
	font-family: $font-heading;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: color("black");
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background: color("yellow");
	border: 0;
	border-radius: 0;

	&:hover {
		background: $color-yellow-hover;
	}

	&:focus-visible {
		outline: 2px solid color("purple");
		outline-offset: 2px;
	}

	&--light {
		background: color("white");

		&:hover {
			background: color("light-grey");
		}
	}
}
