@use "../abstracts" as *;

.text-link {
	font-family: $font-body;
	font-size: font-size("body-2");
	font-weight: 600;
	line-height: 20px;
	color: color("purple");
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:focus-visible {
		outline: 2px solid color("purple");
		outline-offset: 2px;
	}
}
